@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  color: #111827 !important;
}

* {
  box-sizing: border-box;
  color: #111827;
}

button,
select,
textarea,
input {
  color: #111827 !important;
}